/*=====================
    General Styles
=======================*/
.text-center {
    text-align: center;
}
.btn {
    border: 0;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
}
.my-3{
    margin-top: 15px;
    margin-bottom: 15px;
}
/*=====================
    Navbar Styles
=======================*/
.nav{
    background-color: #eee;
    padding: 15px 0;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.navbar {
    display: flex;
}
.nav-brand{
    width: 200px;
    padding: 4px;
}
.nav-link {
    padding: 6px 12px;
    background-color: #fff;
    border-radius: 2px;
    margin: 0 6px;
    text-decoration: none;
    vertical-align: middle;
    font-size: 14px;
}
/*=====================
    Board Styles
=======================*/
.colCell{
    display: flex;
    justify-content: center;
}
.rowCell{
    width: 50px;
    height: 50px;
    border: 2px solid #bbb;
}
.rowCell:before{
    content: ' ';
    width: 45px;
    height: 45px;
    display: block;
    background-size: cover;
    background-position: center;
}
.dynamic1:before{
    background-image: url('./assets/knight.png');
}
.dynamicdanger:before{
    background-image: url('./assets/danger.png');
}
.dynamicitem:before{
    background-image: url('./assets/collectable.png');
}
/*=====================
    Leadership board
=======================*/
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-top: 2px solid #dee2e6;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;

}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}